.tooltip-top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-0.5rem);
    position: absolute;
}

.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip-bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(0.5rem);
    position: absolute;
}

.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-left {
    right: 100%;
    top: 50%;
    transform: translateX(-0.5rem) translateY(-50%);
    position: absolute;
}

.tooltip-left::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

.tooltip-right {
    left: 100%;
    top: 50%;
    transform: translateX(0.5rem) translateY(-50%);
    position: absolute;
}

.tooltip-right::after {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    border-width: 6px 6px 6px 0;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
