.chat-window {
    position: absolute;
    inset-inline-end: 0;
    background-color: var(--bg-secondary);
    display: none;
    border-radius: 1rem;
    border: 1px solid var(--border-primary);
    height: 600px;
    width: 760px;
    z-index: 1095;
    top: 120%;
    overflow: hidden;
}

.chat-window .chat-window__menu {
    display: flex;
    flex-direction: column;
    border-inline-end: 1px solid var(--border-primary);
    gap: 0.5rem;
    width: 35%;
    flex-shrink: 0;
}

.chat-window .chat-window__chat {
    width: 65%;
    min-width: 0;
}

.chat-window .close {
    display: none;
}

.chat-window.show {
    display: flex;
}

@media (max-width: 875px) {
    .chat-window {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        border: none;
    }

    .chat-window .chat-window__menu {
        border-inline-end: none;
        width: 100%;
    }

    .chat-window .chat-window__chat {
        width: 100%;
        padding-right: 10px;
    }

    .chat-window .close {
        display: block;
    }

    .chat-window .chat-window__menu {
        display: none;
    }

    .chat-window .chat-window__chat {
        display: none;
    }

    .chat-window[data-mobile-section="menu"] .chat-window__menu {
        display: flex;
    }

    .chat-window[data-mobile-section="chat"] .chat-window__chat {
        display: block;
    }
}

.img-auto-grid[data-img-count="2"] {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.img-auto-grid[data-img-count="3"] {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}